block variables 

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		style 
			include ../build/main.css
	body(class="bg-brand-Pippin")
		.content#content 
			block content 
		script(src="bundle.js")