extends ./base.pug

block variables
	-var template = "about"

block content
	ul(class="flex flex-row flex-wrap gap-8 p-8")
		each image in home 
			li(class="w-1/6")
				img(class="object-cover object-center" src=image, alt="")
			